.labelClass {
    font-style: italic;
    text-align: right;
}

.leftAlign{
    text-align: left;
}

.topAlign{
    vertical-align: top;
}
.borderNone tbody tr td{
    border: 0 !important;
}
.borderNone tbody tr {
    border: 0 !important;
}
.ui-autocomplete-token-label{
    white-space: normal !important;
}
/*
.ui-autocomplete-multiple-container{
    width: auto !important;
}*/
.ui-button-icon-left {
    width: auto !important;
    height: inherit !important;
    border-radius: inherit !important;
}